.lottie {
  width: 23px;
  height: 66px;
  position: absolute;
  top: 90%;
}


/* Background Menu images */
.backgroundimage .image img {
  height: 1200px;
  width: 100%;
  position: relative;
  opacity: 0.8;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menuwrite {
  position: absolute;
  /* top: 45%; */
  margin: 0 auto;
  /* left: 29%; */
  transform: translate(1%, -151%);
  text-align: center;
}


.myname {
  font-family: "Source Sans 3", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 100%;
  /* margin-left: 11rem; */
  text-align: center;
  color: #111;
  font-weight: 800;
}


.menutext .menutextp1 {
  position: absolute;
  left: 50%;
  top: 44%;
  right: 50%;
  color: #333;
  transform: translateX(-50%);
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.4rem;
  text-align: center;
  width: 73%;
  line-height: 1.6;
  margin: 0px auto;
}

.menutext .menutextp1 span {
  color: rgb(2 167 167);
  --tw-text-opacity: 1;
}

.menutext .menutextp2 {
  position: absolute;
  left: 0%;
  right: 0;
  color: #333;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  width: 56%;
  line-height: 1.6;
  margin: 0 auto;
  top: 38%;
}

.menuButton {
  position: absolute;
  margin-top: 32%;
  display: flex;
  top: 50%;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  left: 50%;
  font-family: "Source Sans 3", sans-serif;
  right: 50%;
  bottom: 0%;
}

.menuButton button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding: 10px 58px;
  font-weight: 700;
  font-family: "Source Sans 3", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #00b4d8;
  color: white;
  border: none;
  margin-bottom: 0%;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 3px;

}

.menuButton button:hover {
  transform: translateY(-5px);
}

.gif img {
  height: 32%;
  position: absolute;
  right: 0;
  width: 18%;
  filter: invert();
  background: grey;
  left: 41%;
  top: 77%;
}


@media(max-width:770px) {

  .options ul {
    display: none;
  }

  .menutext .menutextp1 {
    font-size: 1rem;
  }

  .menutext .menutextp2 {
    font-size: 1rem;
    top: 40%;

  }

  .myname {
    font-size: 2rem;
    transform: translate(1%, -66%);
  }

  .navbar {
    position: fixed;
    top: 29px;
    left: 0;
    right: 0;
  }

}