@media(max-width:994px) {

    .menutext .menutextp1 {
        font-size: 1rem;
    }

    .myname {
        font-size: 2.5rem;
        transform: translate(1%, -66%);

    }

    .menutext .menutextp2 {
        font-size: 1.5rem;
    }

}

@media(max-width:770px) {

    .options ul {
        display: none;
    }


    .menutext .menutextp2 {
        font-size: 1rem;
        top: 40%;

    }

    .myname {
        font-size: 2rem;
        transform: translate(1%, -66%);
    }

    .navbar {
        position: fixed;
        top: 29px;
        left: 0;
        right: 0;
    }

}


@media(max-width:770px) {

    .social_icons {
        display: none;
    }

}

@media(max-width:641px) {

    .section-title {
        font-size: 2rem;
    }

    .timeline-item {
        width: 100%;
        padding-left: 6px;
        padding-right: 25px;
    }

    .timeline-content {
        padding: 20px 46px;
    }

    .contact__form-container {

        max-width: 24rem;
    }

    .section-title {
        font-size: 2rem;
    }

}